@import "./header.css";

.App {
  text-align: center;
}

.App-demo {
  background-color: #fff5fe;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 3rem;
}

.bgcolor {
  background-color: #fff5fe;
}