.item-container {
  text-align: center;
}

.list-container {
  display: flex;
  font-size: 1rem;

  flex-direction: column;
}

.item-container {
  border: 1px dotted #160f29;
  padding: 0.5rem 0.5rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
}

i {
  margin-left: 1rem;
  cursor: pointer;
  color: #246a73;
}
