.item-container {
  text-align: center;
}

.list-container {
  display: flex;
  font-size: 18px;
  background-color: transparent;

  flex-direction: column;
  width: 40%;
}

.item-container {
  background-color: #368f8b4d;
  border: 1px dotted #246a73;
  border-radius: 25%;
  padding: 25px 70px;
  margin: 15px 50px;
  color: #160f29;
}
