.item-container {
  text-align: center;
}

.list-container {
  display: flex;
  font-size: 18px;

  flex-direction: column;
}

.item-container {
  /* background-color: #368f8b4d; */
  border: 1px dotted #160f29;
  /* border-radius: 25%; */
  /* padding: 1rem 1rem; */
  /* margin: 1rem 1rem; */
  /* color: #160f29; */
  /* font-size: 1rem; */
  padding: 0.5rem 0.5rem;
}
