.matchup-container {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: auto;
}

.round-container {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  justify-content: space-around;
}

.bracket-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.bg-even {
  background-color: #f5f5f5;
}

.bg-odd {
  background-color: #eceff1;
}
