.create-page-layout {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.main-subtitle {
  font-size: larger;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Roboto Slab", sans-serif;
}

input {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  width: 20rem;
}

textarea {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0rem;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.button-styles {
  font-size: 1rem;
  line-height: 3;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Open Sans", sans-serif;
}

.done-button {
  width: 100%;
}

.add-remove-button {
  background-color: #fbeee0;
  border: 2px solid #488e98;
  border-radius: 30px;
  box-shadow: #488e98 4px 4px 0 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 500;
  margin: 1rem;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-remove-button:active {
  box-shadow: #160f29 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .add-remove-button {
    min-width: 120px;
    padding: 0.5rem 1rem;
  }
}

.potential-template-wrapper .button-styles,
.choices-container .button-styles {
  width: 100%;
}

.potential-template-wrapper {
  display: grid;
}

.template-link {
  color: #488e98;
  text-decoration: none;
}

.auth-widget-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.auth-inputRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0rem;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-item-text-input {
  margin-left: 1rem;
}
