.app-header {
  background-color: #160f29;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  font-family: "Caveat", cursive;
  color: white;
  padding-left: 8rem;
  padding-right: 8rem;
}

.header-logo {
  height: calc(10px + 2vmin);
  padding-right: 0.5rem;
}

.header-left,
.header-right {
  align-items: center;
  display: flex;
}

.header-right a {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}
