.main-subtitle {
  font-size: larger;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home-page-layout {
  display: flex;
  padding-top: 3rem;
  align-items: flex-start;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
