.myStuff-page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
}

.stuff-subtitle {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-family: "Caveat", cursive;
  color: #160f29;
  font-size: x-large;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f9f9fb;

  padding: 1rem 1rem;
}

.myStuffContainer {
  display: flex;
}
