.rank-page-layout {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.main-subtitle {
  font-size: larger;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bracket-button {
  font-size: medium;
  display: flex;
}

.bracket-button i {
  margin-right: auto;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #160f29;
  color: white;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  min-width: fit-content;
  padding: 0.5rem 0.5rem;
  font-size: small;
  font-family: "Open Sans", sans-serif;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
