
html {
    
}

body {
    background-color: #FFFAFA;
    margin: 0;
}

h1 {
    color: #1D1E1F;
}

p {
    color: #4A4A4A;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 0;
    margin-right:0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}